h1 {
    color : rgb(240, 238, 238);    
}

.imagefond{
    background-image: url("./rectanglenoir.jpg");
    margin-top : -10px;
    margin-left : -10px;
    margin-right : -10px;
    height : 17%;
    text-indent: 5%;
    line-height:140px;
}

body{
    background-color: rgb(191, 210, 226);
}

nav li{
  float:left;
  width : 180px;
  height : 35px;
  border-right : 1px solid #cccccc;
  text-align  :center;
  line-height : 35px;
  list-style-type: none;
  margin-top : -17px;
}

nav li a{ 
   color : white ;
   background-color : #333333 ;
   display : block ;   
}

nav li :hover{
   background-color : #67adda;
}

.titre{
    margin-top: 50px;
    font-size: 40px;
    margin-left : 20px
}

.espaceentreligne{
    margin-bottom: 10px;
}

p{
    font-size: 20px;
    margin-left : 20px;
    margin-right : 20px;
}

p4{
    font-size: 60px;
    margin-left : 200px;
    margin-right : 20px;
    color: #3b57f5;
    text-align: center;
    background-color: rgb(140, 208, 247);
}
p5{
    font-size: 60px;
    margin-left : 700px;
    margin-right : 20px;
    color: #3b57f5;
    text-align: center;
    background-color: rgb(140, 208, 247);
}

nav2 ul{
    float:left;
    width : 200px;
    height : 63px;
    line-height : 35px;
    list-style-type: none;
    margin-top : 1px;
    background-color : #ffffff ;
    display : block ; 
    margin-left: 30px;
    text-align: center;
    border-top: 2px #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    border-left: 2px #000000 solid;
}

.passouligne{
    text-decoration: none;
}

.passouligne:visited{
    text-decoration: none;
}

.cnil{
    margin-top : 40px;
    text-align: center;
    height: 10px;
    margin-left: 400;
}

.anssi{
    margin-top : 40px;
    text-align: left;
    height: 10px;
    margin-left: 300px;
}

.fondCV{
    background-color: rgb(225, 235, 228);
    border-top: 2px #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    border-left: 2px #000000 solid;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 200px;
    margin-left : 400px;
    margin-top: 60px;
    margin-right: 400px;
    background-image: url("./cv.png");
    background-position: center;
    padding-left: 10px;
    padding-bottom: 20px;
    height: 1178px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #33383d;
  color: white;
  margin-left: -10px;
  margin-right: -10px;
  border-top: 2px #f50505 solid;
}

.f1{
    background-color: rgb(225, 235, 228);
    border-top: 2px #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    border-left: 2px #000000 solid;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 830px;
    background-image: url("./f1.jpg");
    background-position: right;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: justify;
    height: 230px;
    width: 850px;
    margin-left: 30;
}

.f1:hover {
    transition:transform .2s;
    transform:scale(1.06);
}

.cinema:hover {
    transition:transform .2s;
    transform:scale(1.06);
}
.anime:hover {
    transition:transform .2s;
    transform:scale(1.06);
}
.manga:hover {
    transition:transform .2s;
    transform:scale(1.06);
}

.cinema{
    background-color: rgb(225, 235, 228);
    border-top: 2px #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    border-left: 2px #000000 solid;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 750px;
    margin-bottom: 20px;
    margin-right: 850px;
    background-image: url("./cinema.jpg");
    background-position: right;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: justify;
    height: 210px;
    width: 850px;
}

.planreseau{
    background-image: url("./planreseau.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 430px;
    margin-left: 60px;
    margin-top: 25px;
}

.anime{
    background-color: rgb(225, 235, 228);
    border-top: 2px #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    border-left: 2px #000000 solid;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
    margin-bottom: 20px;
    background-image: url("./snk.jpg");
    background-position: right;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: justify;
    height: 230px;
    width: 850px;
    margin-left: 30;
}
.nissan{
    background-image: url("./nissan.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 430px;
    margin-left: 60px;
    margin-top: 25px;
}

.manga{
    background-color: rgb(225, 235, 228);
    border-top: 2px #000000 solid;
    border-right: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
    border-left: 2px #000000 solid;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 750px;
    margin-bottom: 20px;
    margin-right: 850px;
    background-image: url("./ascension.jpg");
    background-position: right;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: justify;
    height: 230px;
    width: 850px;
}